<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WarSetup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WarSetup.Properties.Settings>
            <setting name="wixPath" serializeAs="String">
                <value />
            </setting>
            <setting name="mergePathX32" serializeAs="String">
                <value />
            </setting>
            <setting name="mergePathX64" serializeAs="String">
                <value />
            </setting>
            <setting name="warSetupResPath" serializeAs="String">
                <value />
            </setting>
            <setting name="maxRecentProjects" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="compileOnLowerPriority" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="compileInOwnThread" serializeAs="String">
                <value>True</value>
            </setting>
        </WarSetup.Properties.Settings>
    </userSettings>
</configuration>