.~lock.WarSetup_3_Users_Guide.odt#
UpgradeLog.XML
WarSetup.suo
WarSetup.exe
WarSetup.exe.config
WarSetup.pdb
WarSetup.vshost.exe
WarSetup.vshost.exe.config
WarSetup.vshost.exe.manifest
DesignTimeResolveAssemblyReferencesInput.cache
GenerateResource.read.1.tlog
GenerateResource.write.1.tlog
Properties.Resources.Designer.cs.dll
WarSetup.AboutDlg.resources
WarSetup.CompileDlg.resources
WarSetup.MainFrame.resources
WarSetup.Properties.Resources.resources
WarSetup.PropertiesDlg.resources
WarSetup.csproj.FileListAbsolute.txt
WarSetup.exe
WarSetup.pdb
WarSetup.csproj.user
Academic Free License (AFL) 3.0.rtf
Apache Software License 1.1.rtf
Apache Software License 2.0.rtf
Common Public License Version 1.0.rtf
Eclipse Public License  1.0.rtf
GNU General Public License (GPL) 2.0.rtf
GNU General Public License (GPL) 3.0.rtf
GNU Lesser General Public License (LGPL) 2.1.rtf
GNU Lesser General Public License (LGPL) 3.0.rtf
IBM Public License Version 1.0.rtf
Open Software License (OSL)  3.0.rtf
