.~lock.WarSetup_3_Users_Guide.odt#
UpgradeLog.XML
WarSetup.suo
WarSetup.exe
WarSetup.exe.config
WarSetup.pdb
WarSetup.vshost.exe
WarSetup.vshost.exe.config
WarSetup.vshost.exe.manifest
DesignTimeResolveAssemblyReferencesInput.cache
GenerateResource.read.1.tlog
GenerateResource.write.1.tlog
Properties.Resources.Designer.cs.dll
WarSetup.AboutDlg.resources
WarSetup.CompileDlg.resources
WarSetup.MainFrame.resources
WarSetup.Properties.Resources.resources
WarSetup.PropertiesDlg.resources
WarSetup.csproj.FileListAbsolute.txt
WarSetup.exe
WarSetup.pdb
WarSetup.csproj.user
Academic Free License (AFL) 3.0.rtf
Apache Software License 1.1.rtf
Apache Software License 2.0.rtf
Common Public License Version 1.0.rtf
Eclipse Public License  1.0.rtf
GNU General Public License (GPL) 2.0.rtf
GNU General Public License (GPL) 3.0.rtf
GNU Lesser General Public License (LGPL) 2.1.rtf
GNU Lesser General Public License (LGPL) 3.0.rtf
IBM Public License Version 1.0.rtf
Open Software License (OSL)  3.0.rtf
CL.read.1.tlog
CL.write.1.tlog
WarSetupPlugin.lastbuildstate
WarSetupPlugin.log
WarSetupPlugin.obj
WarSetupPlugin.pch
WarSetupPlugin.unsuccessfulbuild
cl.command.1.tlog
rc.command.1.tlog
rc.read.1.tlog
rc.write.1.tlog
stdafx.obj
vc100.idb
vc100.pdb
UpgradeLog2.XML
UpgradeReport.css
UpgradeReport.xslt
UpgradeReport_Minus.gif
UpgradeReport_Plus.gif
WarSetupPlugin.vcxproj.user
warsetup-fork-dot-net-4-x86.zip
WarSetupPlugin.dll
WarSetupPlugin.exp
WarSetupPlugin.lib
WarSetupPluginD.dll
WarSetupPluginD.ilk
WarSetup.opensdf
WarSetupPlugin.dll
WarSetupPlugin.exp
WarSetupPlugin.lib
WarSetupPlugin.pdb
WarSetupPluginD.dll
WarSetupPluginD.ilk
WarSetupPlugin.dll.embed.manifest
WarSetupPlugin.dll.embed.manifest.res
WarSetupPlugin.dll.intermediate.manifest
WarSetupPlugin.write.1.tlog
WarSetupPlugin_manifest.rc
link-cvtres.read.1.tlog
link-cvtres.write.1.tlog
link.5228-cvtres.read.1.tlog
link.5228-cvtres.write.1.tlog
link.5228.read.1.tlog
link.5228.write.1.tlog
link.command.1.tlog
link.read.1.tlog
link.write.1.tlog
mt.command.1.tlog
mt.read.1.tlog
mt.write.1.tlog
WarSetupPlugin.Build.CppClean.log
WarSetupPlugin.dll.intermediate.manifest
WarSetupPlugin.write.1.tlog
link.command.1.tlog
link.read.1.tlog
link.write.1.tlog
mt.command.1.tlog
mt.read.1.tlog
mt.write.1.tlog
warsetupplugin-223e13f0.ipch
warsetupplugin-74fa7536.ipch
WarPackager.exe
WarPackager.exe.config
WarPackager.exe
WarPackager.exe.config
WarPackager.pdb
WarPackager.exe
WarPackager.pdb
WarPackager.vshost.exe
WarPackager.vshost.exe.config
WarPackager.vshost.exe.manifest
WarSetup.csproj.GenerateResource.Cache
/WarSetup.sdf
/WarSetup.v11.suo
/WarSetup/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WarSetup/obj/Debug/WarSetup.csprojResolveAssemblyReference.cache
/WarSetupPlugin/Debug/link-rc.read.1.tlog
/WarSetupPlugin/Debug/link-rc.write.1.tlog
/WarSetupPlugin/Debug/vc110.idb
/WarSetupPlugin/Debug/vc110.pdb
